trigger:
  branches:
    include:
      - '*'

pool:
  vmImage: 'windows-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

- script: npm ci
  displayName: 'Install dependencies'

- powershell: |
    New-Item -ItemType Directory -Force -Path "cypress/reports/mochawesome" | Out-Null
    New-Item -ItemType Directory -Force -Path "cypress/screenshots" | Out-Null
    New-Item -ItemType Directory -Force -Path "cypress/videos" | Out-Null
  displayName: 'Ensure folders exist'
  condition: always()

- script: npx cypress run
  displayName: 'Run Cypress Tests'
  condition: always()

# Publish HTML reports
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'cypress/reports/mochawesome'
    ArtifactName: 'cypress-html-report'
    publishLocation: 'Container'
    failOnEmpty: false
  displayName: 'Publish Mochawesome HTML Report'
  condition: always()

# Publish screenshots
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'cypress/screenshots'
    ArtifactName: 'cypress-screenshots'
    publishLocation: 'Container'
    failOnEmpty: false
  condition: always()

# Publish videos
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'cypress/videos'
    ArtifactName: 'cypress-videos'
    publishLocation: 'Container'
    failOnEmpty: false
  condition: always()

- task: PublishTestResults@2
  inputs:
    testResultsFiles: 'cypress/reports/junit/*.xml'
    testRunTitle: 'Cypress Test Results'
    mergeTestResults: true
  condition: always()
